body {
  font: 18px Verdana;
}

/***
  title: Test
  section: Forms
  description: This is a description, and can also contain **Markdown**
  example: |
    <div class="test">This is a test</div>
    <div class="test2">This is another test</div>
***/
.test,
.test2,
.test2[fancy=true] {
  background: blue;
  color: #fff;
}


/***
  title: Another test
  section: Forms - Common
  example: <input type="text" class="test">
***/
input.test {
  background: green;
}